header {
    height: screen;
    padding-top: 4rem;
    margin-bottom: 12rem;
    
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;   
}

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 12rem;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me {
    background: linear-gradient( var(--color-bg-variant), transparent);
    width: 22rem;
    height: 30rem;
    position: relative;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 11rem 11rem 0 0;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.me-image {
    border-radius: 11rem 11rem 0.2rem 0.2rem;
    overflow: hidden;
}

.scroll_down {
    position: absolute;
    right: -2.3rem;
    bottom: 16rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
    header {
        height: screen;
    }
}


@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header_socials, .scroll_down{
        display: none;
    }
}